<ScrollView class="content">  
  <GridLayout >
    <StackLayout >    
      <Gradient class="title_bar" direction="to right" colors="#7b1fa2, #f761a1" style="margin-bottom: 10;">
        <StackLayout orientation="horizontal" style="padding-top: 10;">
            <label text="< Ridyr Drivers" style="font-size:25; margin-left:20; color:white"></label>
            <DockLayout width="100%" stretchLastChild="false">
              <StackLayout dock="right" style="margin-right:15;">
                <notification-icon value=3></notification-icon>
              </StackLayout>              
            </DockLayout>            
        </StackLayout>          
      </Gradient>      
      <StackLayout class="trip_card">
          <HomeRidyr></HomeRidyr>
      </StackLayout>      
    </StackLayout>
  </GridLayout>
</ScrollView> 
  
  

