<GridLayout rows="*, auto">
  <StackLayout
    class="page" [ngSwitch]="selectedTab" row="0">
    <HomeSearchTabComponent *ngSwitchDefault></HomeSearchTabComponent>
    <ItemsComponent *ngSwitchCase="1"></ItemsComponent>
    <HomeRidyrItineraryComponent *ngSwitchCase="2"></HomeRidyrItineraryComponent>
  </StackLayout>

  <BottomBar 
    row="1" 
    [items]="items" 
    [hide]="hidden" 
    [titleState]="titleState" 
    (loaded)="tabLoaded($event)" 
    (tabSelected)="tabSelected($event)" 
    [inactiveColor]="inactiveColor" 
    [accentColor]="accentColor" 
    colored="true"></BottomBar>
</GridLayout>
