<FlexboxLayout class="content" flexDirection="column">
    <StackLayout orientation="horizontal" height="40">
        <Gradient class="tab" direction="to right" colors="#7b1fa2, #f761a1">
            <label class="tab_active" text="LEAVING FROM"></label>
        </Gradient>
        <label class="tab_inactive" text="GOING @ 10:00 A.M."></label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <StackLayout class="top_content_left">
            <label text="MIA" class="top_content_left_font_big"></label>
            <label text="Miami Florida, USA" class="top_content_left_font" textWrap="true"></label>
        </StackLayout>
        <StackLayout class="top_content_middle">
            <label text="– 🚖 –"></label>
        </StackLayout>
        <StackLayout class="top_content_right">
            <label text="JFK" class="top_content_right_font_big"></label>
            <label text="New York City, USA" class="top_content_right_font" textWrap="true"></label>
        </StackLayout>
    </StackLayout>
    <StackLayout class="seperator"></StackLayout>
    <StackLayout orientation="horizontal" class="content_info">
        <StackLayout width="33%">
            <label text="CONFIRMATION" class="content_info_label_font"></label>
            <label text="VA2501" class="content_info_text"></label>
        </StackLayout>
        <StackLayout width="34%">
            <label text="SEAT(S)" class="content_info_label_font"></label>
            <label text="1" class="content_info_text"></label>
        </StackLayout>
        <StackLayout width="33%">
            <label text="PICK-UP" class="content_info_label_font"></label>
            <label text="MIA" class="content_info_text"></label>
        </StackLayout>
    </StackLayout>
    <StackLayout orientation="horizontal" class="content_confirm">
        <StackLayout width="50%">
            <label text="DEPARTS" class="content_info_label_font"></label>
            <label text="10:00 A.M." class="content_info_text"></label>
        </StackLayout>
        <StackLayout width="50%">
            <button text="VIEW CONFIRMATION" class="btn_confirm"></button>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>
