<FlexboxLayout class="content" flexDirection="column">    
    <StackLayout style="margin-top:10;">
        <GridLayout class="search_field" columns="50, *">
            <label text="From" col="0" style="margin-top: 5;margin-left: 10;"></label>
            <TextField col="1"></TextField>
        </GridLayout>
        <GridLayout class="search_field" columns="50, *">
            <label text="To  " col="0" style="margin-top: 5;margin-left: 10;"></label>
            <TextField col="1"></TextField>
        </GridLayout>
    </StackLayout>
    <StackLayout class="seperator"></StackLayout>    
    <StackLayout orientation="horizontal" class="car_row">
        <StackLayout width="25%">
            <Image dock="top"
                class="btn_car" stretch="aspectFit"
                src="~/resources/images/btn_car1.png"></Image>
            <label text="$65-$105"></label>
            <label text="CAR"></label>
        </StackLayout>
        <StackLayout width="25%">
            <Image dock="top"
                class="btn_car" stretch="aspectFit"
                src="~/resources/images/btn_car2.png"></Image>
            <label text="$65-$105"></label>
            <label text="CAR"></label>
        </StackLayout>
        <StackLayout width="25%">
            <Image dock="top"
                class="btn_car" stretch="aspectFit"
                src="~/resources/images/btn_car3.png"></Image>
            <label text="$65-$105"></label>
            <label text="CAR"></label>
        </StackLayout>
        <StackLayout width="25%">
            <Image dock="top"
                class="btn_car" stretch="aspectFit"
                src="~/resources/images/btn_car4.png"></Image>
            <label text="$65-$105"></label>
            <label text="CAR"></label>
        </StackLayout>
    </StackLayout>    
</FlexboxLayout>
