.star {
	width: 20%;
}
.content {
	color:white;
}
.notification_text {
	height:20; 
	background-color:red; 
	border-radius: 10; 
	padding:1,6,1,6;
	margin-left: 15;
	margin-bottom:20;
	font-size: 12;
	text-align: center;
}